#player {
    position: absolute;
}

#mundo {
    background-image: url("../Asset/environment-preview.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
    top: 0px;
}
.npc{
    position: absolute;
    width: 15%;
    height: 20%; 
    left: 500px;
    bottom: 313.5px;
}
p{
    position: absolute;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 100px;
    color: rgb(255, 187, 0);
    background-image: linear-gradient(rgb(35, 0, 82),black);
    border-radius: 5%;
    opacity: 70%;
    
}


html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    background-color: black;
}