body {
    background-image: url("../Asset/Backgroundbrabo.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

html,
body {
    min-height: 100%;
}

@font-face {
    font-family: Dungeon;
    src: url(Gothic\ Pixels.ttf);
}

h1 {
    font-family: "Dungeon", sans-serif;
    font-size: 128px;
    font-weight: normal;
    color: rgb(163, 0, 0);
    text-align: center;
    margin-bottom: -50px;
    margin-top: 120px;
    text-shadow: 10px 0px 3px black;
}

.button {
    font-family: "Dungeon", sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    font-size: 36px;
    display: block;
    border: none;
    transition-duration: 0.4s;
    background-color: rgba(240, 248, 255, 0);
    margin: 20px auto;
}

.button:hover {
    color: darkgray;
}

h3 {
    font-family: "Dungeon", sans-serif;
    font-weight: normal;
    color: darkgray;
    text-align: center;
    margin-bottom: 80px;
}

#audio {
    background-image: url("../Asset/somDesligado.png");
    background-size: 100px 130px;
    height: 134px;
    width: 104px;
}

#dialogo {
    font-size: 32px;
    text-align: center;
    animation: aparecerTexto 3s;
    color: white;
    padding-top: 20%;
}

@keyframes aparecerTexto {
    0% {
        color: black;
    }
    100% {
        color: white;
    }
}

@keyframes desaparecerTexto {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}

.Erith {
    animation: aparecerTextoErith 9s;
    font-size: 38px;
}

@keyframes aparecerTextoErith {
    0% {
        color: black;
    }
    33% {
        color: white;
    }
    50% {
        color: darkred;
    }
    66% {
        color: darkred;
    }
    100% {
        color: black;
    }
}

#redencao {
    animation: aparecerTextoRe 9s;
}

@keyframes aparecerTextoRe {
    0% {
        color: black;
    }
    33% {
        color: white;
    }
    50% {
        color: rgb(248, 248, 44);
    }
    95% {
        color: rgb(248, 248, 44);
    }
    100% {
        color: black;
    }
}

.pecado {
    animation: aparecerTextoPe 9s;
}

@keyframes aparecerTextoPe {
    0% {
        color: black;
    }
    33% {
        color: darkred;
    }
    66% {
        color: darkred;
    }
    100% {
        color: black;
    }
}

#ultimaRedencao {
    font-size: 32px;
    text-align: center;
    animation: aparecerTexto 3s;
    color: white;
    margin-top: 10%;
    font-family: "Dungeon", sans-serif;
    letter-spacing: 4px;
}

#pray {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    margin-top: 150px;
}

a {
    font-size: 32px;
    display: block;
    text-align: center;
    animation: aparecerTexto 3s;
    color: white;
    font-family: "Dungeon", sans-serif;
    margin-top: 10%;
}

a:hover {
    color: darkgray;
}

#janelinha {}